@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 calc(100% / 5);
  min-width: 0;
}

@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 calc(100% / 2);
  }
}

@media (max-width: 500px) {
  .embla__slide {
    flex: 0 0 calc(100% / 1);
  }
}
